<a href="https://colab.research.google.com/github/pratikshitvas/Technolabs_interniship/blob/main/activity_8_and__9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from cryptonic import Model
from cryptonic import CoinMarketCap
from cryptonic.models import normalizations
import pandas as pd
from tqdm import tqdm_notebook
#!pip install python-binance
#from binance.client import Client

%autosave 5
%matplotlib inline

Autosaving every 5 seconds

In [ ]:
print(CoinMarketCap())

        Crypto-currency data comes from the website CoinMarketCap.
        CoinMarketCap is can be accessed at: https://coinmarketcap.com/

        The permission to use the data is available on their FAQ

            https://coinmarketcap.com/faq/

        and reads:

            "Q: Am I allowed to use content (screenshots, data, graphs, etc.)
            for one of my personal projects and/or commercial use?

            R: Absolutely! Feel free to use any content as you see fit.
            We kindly ask that you cite us as a source."

In [ ]:
historic_data = pd.read_csv('bitcoin_cash_price.csv')
historic_data.head()

           date     open     high  ...    close        volume       Market Cap
0  Feb 20, 2018  1543.27  1569.03  ...  1418.73  82,09,47,000  26,19,98,00,000
1  Feb 19, 2018  1483.34  1553.81  ...  1534.77  57,89,06,000  25,17,97,00,000
2  Feb 18, 2018  1552.10  1641.40  ...  1487.46  90,78,73,000  26,34,42,00,000
3  Feb 17, 2018  1548.48  1568.64  ...  1551.39  64,17,19,000  26,28,01,00,000
4  Feb 16, 2018  1373.16  1558.66  ...  1552.20  96,10,10,000  23,30,20,00,000

[5 rows x 7 columns]

In [ ]:
import pandas as pd

from datetime import datetime
from bs4 import BeautifulSoup
df=historic_data
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y').strftime('%Y-%m-%d'))
df.head()

         date     open     high  ...    close        volume       Market Cap
0  2018-02-20  1543.27  1569.03  ...  1418.73  82,09,47,000  26,19,98,00,000
1  2018-02-19  1483.34  1553.81  ...  1534.77  57,89,06,000  25,17,97,00,000
2  2018-02-18  1552.10  1641.40  ...  1487.46  90,78,73,000  26,34,42,00,000
3  2018-02-17  1548.48  1568.64  ...  1551.39  64,17,19,000  26,28,01,00,000
4  2018-02-16  1373.16  1558.66  ...  1552.20  96,10,10,000  23,30,20,00,000

[5 rows x 7 columns]

In [ ]:
model_data=df
M = Model(data=model_data,
          variable='close',
          predicted_period_size=7)

In [ ]:
M.build()

In [ ]:
M.train(epochs=100, verbose=1)

Epoch 1/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0119
Epoch 2/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0105
Epoch 3/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0097
Epoch 4/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0090
Epoch 5/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0084
Epoch 6/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0078
Epoch 7/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0074
Epoch 8/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0069
Epoch 9/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0065
Epoch 10/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0062
Epoch 11/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0058
Epoch 12/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0055
Epoch 13/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0051
Epoch 14/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0048
Epoch 15/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0045
Epoch 16/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0042
Epoch 17/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0040
Epoch 18/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0037
Epoch 19/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0035
Epoch 20/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0032
Epoch 21/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0030
Epoch 22/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0028
Epoch 23/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0025
Epoch 24/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0023
Epoch 25/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 26/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0020
Epoch 27/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0018
Epoch 28/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0016
Epoch 29/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0015
Epoch 30/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0013
Epoch 31/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0012
Epoch 32/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0011
Epoch 33/100
1/1 [==============================] - 0s 2ms/step - loss: 9.6853e-04
Epoch 34/100
1/1 [==============================] - 0s 4ms/step - loss: 8.6278e-04
Epoch 35/100
1/1 [==============================] - 0s 3ms/step - loss: 7.6560e-04
Epoch 36/100
1/1 [==============================] - 0s 2ms/step - loss: 6.7668e-04
Epoch 37/100
1/1 [==============================] - 0s 2ms/step - loss: 5.9567e-04
Epoch 38/100
1/1 [==============================] - 0s 2ms/step - loss: 5.2218e-04
Epoch 39/100
1/1 [==============================] - 0s 5ms/step - loss: 4.5582e-04
Epoch 40/100
1/1 [==============================] - 0s 1ms/step - loss: 3.9615e-04
Epoch 41/100
1/1 [==============================] - 0s 4ms/step - loss: 3.4276e-04
Epoch 42/100
1/1 [==============================] - 0s 2ms/step - loss: 2.9519e-04
Epoch 43/100
1/1 [==============================] - 0s 3ms/step - loss: 2.5300e-04
Epoch 44/100
1/1 [==============================] - 0s 3ms/step - loss: 2.1575e-04
Epoch 45/100
1/1 [==============================] - 0s 1ms/step - loss: 1.8302e-04
Epoch 46/100
1/1 [==============================] - 0s 1ms/step - loss: 1.5438e-04
Epoch 47/100
1/1 [==============================] - 0s 5ms/step - loss: 1.2945e-04
Epoch 48/100
1/1 [==============================] - 0s 2ms/step - loss: 1.0785e-04
Epoch 49/100
1/1 [==============================] - 0s 1ms/step - loss: 8.9227e-05
Epoch 50/100
1/1 [==============================] - 0s 2ms/step - loss: 7.3263e-05
Epoch 51/100
1/1 [==============================] - 0s 2ms/step - loss: 5.9658e-05
Epoch 52/100
1/1 [==============================] - 0s 3ms/step - loss: 4.8139e-05
Epoch 53/100
1/1 [==============================] - 0s 2ms/step - loss: 3.8459e-05
Epoch 54/100
1/1 [==============================] - 0s 2ms/step - loss: 3.0392e-05
Epoch 55/100
1/1 [==============================] - 0s 2ms/step - loss: 2.3733e-05
Epoch 56/100
1/1 [==============================] - 0s 3ms/step - loss: 1.8293e-05
Epoch 57/100
1/1 [==============================] - 0s 1ms/step - loss: 1.3902e-05
Epoch 58/100
1/1 [==============================] - 0s 1ms/step - loss: 1.0404e-05
Epoch 59/100
1/1 [==============================] - 0s 1ms/step - loss: 7.6584e-06
Epoch 60/100
1/1 [==============================] - 0s 1ms/step - loss: 5.5374e-06
Epoch 61/100
1/1 [==============================] - 0s 1ms/step - loss: 3.9276e-06
Epoch 62/100
1/1 [==============================] - 0s 2ms/step - loss: 2.7289e-06
Epoch 63/100
1/1 [==============================] - 0s 1ms/step - loss: 1.8545e-06
Epoch 64/100
1/1 [==============================] - 0s 2ms/step - loss: 1.2307e-06
Epoch 65/100
1/1 [==============================] - 0s 2ms/step - loss: 7.9630e-07
Epoch 66/100
1/1 [==============================] - 0s 1ms/step - loss: 5.0143e-07
Epoch 67/100
1/1 [==============================] - 0s 1ms/step - loss: 3.0672e-07
Epoch 68/100
1/1 [==============================] - 0s 6ms/step - loss: 1.8189e-07
Epoch 69/100
1/1 [==============================] - 0s 1ms/step - loss: 1.0434e-07
Epoch 70/100
1/1 [==============================] - 0s 2ms/step - loss: 5.7767e-08
Epoch 71/100
1/1 [==============================] - 0s 4ms/step - loss: 3.0788e-08
Epoch 72/100
1/1 [==============================] - 0s 1ms/step - loss: 1.5753e-08
Epoch 73/100
1/1 [==============================] - 0s 6ms/step - loss: 7.7147e-09
Epoch 74/100
1/1 [==============================] - 0s 1ms/step - loss: 3.6039e-09
Epoch 75/100
1/1 [==============================] - 0s 1ms/step - loss: 1.5998e-09
Epoch 76/100
1/1 [==============================] - 0s 7ms/step - loss: 6.7424e-10
Epoch 77/100
1/1 [==============================] - 0s 1ms/step - loss: 2.8084e-10
Epoch 78/100
1/1 [==============================] - 0s 2ms/step - loss: 2.0947e-10
Epoch 79/100
1/1 [==============================] - 0s 6ms/step - loss: 9.8862e-10
Epoch 80/100
1/1 [==============================] - 0s 3ms/step - loss: 9.4391e-09
Epoch 81/100
1/1 [==============================] - 0s 5ms/step - loss: 1.0513e-07
Epoch 82/100
1/1 [==============================] - 0s 3ms/step - loss: 1.1651e-06
Epoch 83/100
1/1 [==============================] - 0s 2ms/step - loss: 7.3714e-06
Epoch 84/100
1/1 [==============================] - 0s 5ms/step - loss: 1.2914e-05
Epoch 85/100
1/1 [==============================] - 0s 2ms/step - loss: 8.6130e-06
Epoch 86/100
1/1 [==============================] - 0s 2ms/step - loss: 5.2714e-06
Epoch 87/100
1/1 [==============================] - 0s 3ms/step - loss: 3.2467e-06
Epoch 88/100
1/1 [==============================] - 0s 6ms/step - loss: 2.3682e-06
Epoch 89/100
1/1 [==============================] - 0s 2ms/step - loss: 1.6993e-06
Epoch 90/100
1/1 [==============================] - 0s 6ms/step - loss: 1.4216e-06
Epoch 91/100
1/1 [==============================] - 0s 2ms/step - loss: 1.2695e-06
Epoch 92/100
1/1 [==============================] - 0s 2ms/step - loss: 1.3439e-06
Epoch 93/100
1/1 [==============================] - 0s 3ms/step - loss: 1.5303e-06
Epoch 94/100
1/1 [==============================] - 0s 2ms/step - loss: 2.0078e-06
Epoch 95/100
1/1 [==============================] - 0s 3ms/step - loss: 2.6924e-06
Epoch 96/100
1/1 [==============================] - 0s 4ms/step - loss: 3.8732e-06
Epoch 97/100
1/1 [==============================] - 0s 4ms/step - loss: 5.0353e-06
Epoch 98/100
1/1 [==============================] - 0s 2ms/step - loss: 6.3098e-06
Epoch 99/100
1/1 [==============================] - 0s 2ms/step - loss: 6.2888e-06
Epoch 100/100
1/1 [==============================] - 0s 2ms/step - loss: 6.0137e-06

In [ ]:
M.predict(denormalized=True)

array([1338.749 , 1368.4177, 1496.4807, 1467.7007, 1449.771 , 1466.9181,
       1387.2461], dtype=float32)

In [ ]:
M.evaluate()

{'mape': 6.43, 'mse': 0.0, 'rmse': 136.53}

In [ ]:
M.save('bitcoin_model_prod_v0.h5')

In [ ]:
M = Model(path='bitcoin_model_prod_v0.h5',
          data=model_data,
          variable='close',
          predicted_period_size=7)

In [ ]:
M.predict(denormalized=True)

array([1417.3898, 1093.8004, 1292.086 , 1441.7844, 1516.2662, 1437.0704,
       1365.443 ], dtype=float32)

In [ ]:
M1 = Model(data=model_data[0*7:7*40 + 7],
          variable='close',
          predicted_period_size=7)

In [ ]:
M1.build()
M1.train()

In [ ]:
#
#  Complete the range function and
#  the model_data filtering parameters
#  using an index to split the data in overlapping
#  groups of 7 days. Then, re-train our model
#  and collect the results.
#
#  The variables A, B, C, and D are placeholders.
C=0*7
D=7*50 + 7
results = []
for i in range(1, 11):
    M1.train(model_data[C:D])
    results.append(M1.evaluate())

In [ ]:
for i, result in enumerate(results):
    print(f'Week {40+i+1}: {result}')

Week 41: {'mse': 0.0, 'rmse': 136.58, 'mape': 6.43}
Week 42: {'mse': 0.0, 'rmse': 136.84, 'mape': 6.42}
Week 43: {'mse': 0.0, 'rmse': 137.38, 'mape': 6.41}
Week 44: {'mse': 0.0, 'rmse': 136.69, 'mape': 6.42}
Week 45: {'mse': 0.0, 'rmse': 137.34, 'mape': 6.41}
Week 46: {'mse': 0.0, 'rmse': 136.65, 'mape': 6.42}
Week 47: {'mse': 0.0, 'rmse': 137.64, 'mape': 6.42}
Week 48: {'mse': 0.0, 'rmse': 137.39, 'mape': 6.41}
Week 49: {'mse': 0.0, 'rmse': 136.41, 'mape': 6.43}
Week 50: {'mse': 0.0, 'rmse': 137.57, 'mape': 6.42}

In [ ]:
M1.predict(denormalized=True)

array([1420.1115, 1095.6418, 1291.3789, 1435.3765, 1518.8251, 1439.4701,
       1365.5962], dtype=float32)

In [ ]:
old_data = model_data[0*7:7*48 + 7]

In [ ]:
new_data = model_data[0*7:7*49 + 7]

In [ ]:
M2 = Model(data=old_data,
          variable='close',
          predicted_period_size=7)

In [ ]:
M2.build()
M2.train()

In [ ]:
M2.predict(denormalized=True)

array([1416.7216, 1098.261 , 1292.3644, 1436.2493, 1519.8019, 1440.296 ,
       1362.1885], dtype=float32)

In [ ]:
#
#  Re-instantiate the model with the Model()
#  class using the new_data variable instead
#  of the old_data one. 
M3 = Model(data=new_data,
          variable='close',
          predicted_period_size=7)

In [ ]:
M3.build()
M3.train()

In [ ]:
M3.predict(denormalized=True)

array([1417.3853, 1102.3414, 1296.2914, 1440.1677, 1515.5669, 1438.5106,
       1370.5349], dtype=float32)

In [ ]:
M3.save("final_m3.h5")